body { /* tudo que está contido em body apresentará as seguintes propriedades */
	background: #F0FFFF; /* troca a cor de fundo de body */
	text-align: center; /* alinha todos os itens ao centro de body */
}

h1 {
	font-size: 4vw; /* ajusta o tamanho da fonte, vw é uma unidade responsiva para vários tamanhos de tela */
    margin-bottom: 1vw;
}

h2 {
	font-size: 2.5vw;
}

.banner{
    max-width: 50%;
    margin-bottom: 5vw;
}

li {
    list-style-type: none;
    margin: 0 0 2vw 0;
  }

p {
	font-size: 2vw;
}

strong {
	color: blue; /* muda a cor de tudo que está com a tag strong */
}

a {
	text-decoration: none; /* retira o sublinhado do link */
	color: black;
}
