body { /* tudo que está contido em body apresentará as seguintes propriedades */
	background: rgb(255, 255, 255); /* troca a cor de fundo de body */
	font-family: 'Open Sans', sans-serif;
}

header{
	text-align: center; /* alinha todos os itens ao centro de body */
}

.ufabc{
	padding-top: 3vw;
    max-width: 8%; 
}

main{
	text-align: justify;
    margin: 0 5vw 0 5vw;
}

h1 {
	font-size: 4vw; /* ajusta o tamanho da fonte, vw é uma unidade responsiva para vários tamanhos de tela */
    margin-bottom: 1vw;
	font-weight: 600;
	color: rgb(197, 34, 6);
}

h2 {
	font-size: 2.5vw;
	padding-bottom: 3vw;
}

footer{
    font-size: 1vw;
	padding-top: 3vw;
	padding-bottom: 2vw;
	text-align: center;
	background-color: lightgrey;
}





h3 {
	font-size: 2vw;
	padding-bottom: 2vw;
	font-weight: 600;
	color: rgb(197, 34, 6);
}

h4 {
	font-size: 1.5vw;
	padding-bottom: 3vw;
	font-weight: 600;
}



li {
    font-size: 1vw;
    list-style-type: none;
    margin: 0 0 2vw 0;
  }

p {
	font-size: 1vw;
    margin-bottom: 2vw;
    line-height: 2em;
}

.videos{
    display: flex;
}

.video{
    max-width: 20%;
    margin: 0 1vw 4vw 1vw;
}

.teste1{
    max-width: 40%;
    margin-bottom: 2vw;
}

.teste2 {
	max-width: 70%;
}

a {
	text-decoration: none; /* retira o sublinhado do link */
	color: black;
}
